# ─────────────────────────────────────────────
# terraform.tfvars  –  fill in before applying
# Copy this file to terraform.tfvars and populate
# DO NOT commit terraform.tfvars to version control
# ─────────────────────────────────────────────

aws_region   = "ap-southeast-2"
project_name = "awstodo"
environment  = "prod"

# Networking
vpc_cidr            = "10.0.0.0/16"
availability_zones  = ["ap-southeast-2a", "ap-southeast-2b"]
public_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
private_app_cidrs   = ["10.0.11.0/24", "10.0.12.0/24"]
private_db_cidrs    = ["10.0.21.0/24", "10.0.22.0/24"]

# Security — replace with your actual public IP
trusted_ip = "YOUR_PUBLIC_IP/32"

# EC2
# Find latest Amazon Linux 2023 AMI for ap-southeast-2:
# aws ec2 describe-images --owners amazon --filters "Name=name,Values=al2023-ami-*-x86_64" --query "sort_by(Images,&CreationDate)[-1].ImageId" --region ap-southeast-2
ami_id        = "ami-0c55b159cbfafe1f0"
instance_type = "t3.small"
key_name      = "your-key-pair-name"

# Database — use AWS Secrets Manager in production
db_username = "dbadmin"
db_password = "CHANGE_ME_USE_SECRETS_MANAGER"
db_name     = "appdb"

# S3
s3_bucket_name = "awstodo-prod-avatar-529646246979-ap-southeast-2"

# GitHub
github_repo = "PhongHai191/AWStodo"
